USE [master]
GO
/****** Object:  Database [Finance]    Script Date: 10.12.2018 20:18:04 ******/
CREATE DATABASE [Finance]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Finance', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Finance.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Finance_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Finance_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Finance].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Finance]
GO
USE [Finance]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 10.12.2018 20:18:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Category_PK] [int] IDENTITY(1,1) NOT NULL,
	[Category_name] [varchar](255) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Category_PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Expenses]    Script Date: 10.12.2018 20:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expenses](
	[Expenses_PK] [int] IDENTITY(1,1) NOT NULL,
	[Name_expenses] [varchar](255) NULL,
	[Sum_expenses] [float] NOT NULL,
	[Date_purchase] [date] NOT NULL,
	[Necessity] [int] NOT NULL,
	[Categoty_FK] [int] NOT NULL,
	[Login_FK] [varchar](30) NOT NULL,
 CONSTRAINT [PK_Expenses] PRIMARY KEY CLUSTERED 
(
	[Expenses_PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Income]    Script Date: 10.12.2018 20:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Income](
	[Income_PK] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NOT NULL,
	[Sum] [float] NOT NULL,
	[Source_of_the_income_FK] [int] NOT NULL,
	[Login_FK] [varchar](30) NOT NULL,
 CONSTRAINT [PK_Income] PRIMARY KEY CLUSTERED 
(
	[Income_PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plan]    Script Date: 10.12.2018 20:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plan](
	[Plan_PK] [int] NOT NULL,
	[Income] [float] NOT NULL,
	[Expenses] [float] NOT NULL,
	[Date_From] [date] NOT NULL,
	[Date_To] [date] NOT NULL,
	[Login_FK] [varchar](30) NOT NULL,
	[Category_FK] [int] NOT NULL,
	[Source_of_income_FK] [int] NOT NULL,
 CONSTRAINT [PK_Plan] PRIMARY KEY CLUSTERED 
(
	[Plan_PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Purchase]    Script Date: 10.12.2018 20:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchase](
	[Purchase_PK] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[Login_FK] [varchar](30) NOT NULL,
 CONSTRAINT [PK_Purchase] PRIMARY KEY CLUSTERED 
(
	[Purchase_PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Source_of_income]    Script Date: 10.12.2018 20:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Source_of_income](
	[Source_of_income_PK] [int] IDENTITY(1,1) NOT NULL,
	[Name_Source_of_income] [varchar](255) NOT NULL,
 CONSTRAINT [PK_Source_of_income] PRIMARY KEY CLUSTERED 
(
	[Source_of_income_PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 10.12.2018 20:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Login_PK] [varchar](30) NOT NULL,
	[Password] [varchar](20) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Login_PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Expenses]  WITH CHECK ADD  CONSTRAINT [FK_Expenses_Category] FOREIGN KEY([Categoty_FK])
REFERENCES [dbo].[Category] ([Category_PK])
GO
ALTER TABLE [dbo].[Expenses] CHECK CONSTRAINT [FK_Expenses_Category]
GO
ALTER TABLE [dbo].[Expenses]  WITH CHECK ADD  CONSTRAINT [FK_Expenses_User] FOREIGN KEY([Login_FK])
REFERENCES [dbo].[User] ([Login_PK])
GO
ALTER TABLE [dbo].[Expenses] CHECK CONSTRAINT [FK_Expenses_User]
GO
ALTER TABLE [dbo].[Income]  WITH CHECK ADD  CONSTRAINT [FK_Income_Source_of_income] FOREIGN KEY([Source_of_the_income_FK])
REFERENCES [dbo].[Source_of_income] ([Source_of_income_PK])
GO
ALTER TABLE [dbo].[Income] CHECK CONSTRAINT [FK_Income_Source_of_income]
GO
ALTER TABLE [dbo].[Income]  WITH CHECK ADD  CONSTRAINT [FK_Income_User] FOREIGN KEY([Login_FK])
REFERENCES [dbo].[User] ([Login_PK])
GO
ALTER TABLE [dbo].[Income] CHECK CONSTRAINT [FK_Income_User]
GO
ALTER TABLE [dbo].[Plan]  WITH CHECK ADD  CONSTRAINT [FK_Plan_Category] FOREIGN KEY([Category_FK])
REFERENCES [dbo].[Category] ([Category_PK])
GO
ALTER TABLE [dbo].[Plan] CHECK CONSTRAINT [FK_Plan_Category]
GO
ALTER TABLE [dbo].[Plan]  WITH CHECK ADD  CONSTRAINT [FK_Plan_Source_of_income] FOREIGN KEY([Source_of_income_FK])
REFERENCES [dbo].[Source_of_income] ([Source_of_income_PK])
GO
ALTER TABLE [dbo].[Plan] CHECK CONSTRAINT [FK_Plan_Source_of_income]
GO
ALTER TABLE [dbo].[Plan]  WITH CHECK ADD  CONSTRAINT [FK_Plan_User] FOREIGN KEY([Login_FK])
REFERENCES [dbo].[User] ([Login_PK])
GO
ALTER TABLE [dbo].[Plan] CHECK CONSTRAINT [FK_Plan_User]
GO
ALTER TABLE [dbo].[Purchase]  WITH CHECK ADD  CONSTRAINT [FK_Purchase_User] FOREIGN KEY([Login_FK])
REFERENCES [dbo].[User] ([Login_PK])
GO
ALTER TABLE [dbo].[Purchase] CHECK CONSTRAINT [FK_Purchase_User]
GO
USE [master]
GO
